# Ignore misc folder
misc/

# Python cache
__pycache__/
*.pyc

# large weight files
data/*-weights.js

# outdated output files
output/OLD
output/*.npz

# model checkpoints downloaded at runtime
models/
*.pth
*.pt
*.ckpt

gallery.html